@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

body {
  background-color: rgb(209, 170, 170);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

//* mixins
@mixin cont_settings() {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

//*variables
$head-bg-color: white;
